<aside>
    <form spellcheck="false" autocomplete="off" id="cloud-config">
        <h3>
            Asetukset
        </h3>

        <label>
            <span>Verkkotunnus:</span>
            <input type="text" id="cloud-config-domain" disabled value="<%= coffeeMaker.domain %>">
        </label>

        <label>
            <span>TP-Link Cloud -sähköposti</span>
            <input type="text" id="cloud-config-email" value="<%= coffeeMaker.cloud.email %>">
        </label>

        <label>
            <span>TP-Link Cloud -salasana <sup title="Salasanaasi ei koskaan lähetetä tälle palvelimelle, vaan selaimesi kommunikoi suoraan TP-Linkin palvelimen kanssa">?</sup></span>
            <input type="password" id="cloud-config-password">
        </label>

        <button type="button" id="cloud-config-list-devices">Kirjaudu sisään</button>

        <label>
            <span>Valitse laite <sup title="Valitse laite, johon kahvinkeitin on liitetty.">?</sup></span>
            <select name="device" id="cloud-config-device" disabled>
            <% if (coffeeMaker.cloud.alias) { %>
                <option value=""><%- coffeeMaker.cloud.alias %></option>
            <% } else { %>
                <option value="">Kirjaudu ensin sisään</option>
            <% } %>
            </select>
        </label>

        <button type="button" id="cloud-config-save">Tallenna asetukset</button>

    </form>
</aside>
<script type="module" src="./config.js"></script>