<%- include('partials/header.html') %>
<main>
    <form id="notifications">
        <div>Ilmoita minulle heti, kun</div>
        <div id="subscribe-event-list">
            <label>
                <input type="checkbox" name="events[]" value="starting"><span>kahvia on tulossa</span>
            </label>
            <label>
                <input type="checkbox" name="events[]" value="finished"><span>kahvi on valmista</span>
            </label>
            <label>
                <input type="checkbox" name="events[]" value="power-off"><span>kahvinkeitin sammutetaan</span>
            </label>
        </div>
    </form>
</main>
<%- include('partials/footer.html') %>