
@import url('https://fonts.googleapis.com/css?family=Ruda');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #221815;
    height: 100%;
    
    font-family: 'Ruda', sans-serif;
}

html:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    z-index: -1;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    margin: auto;
}

form {
    display: block;
    padding: 40px 40px;
    color: #aa9990;
    font-size: 14px;
    margin: 10px;
}

main form .button, main form .button > span {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    width: 260px;
    max-width: 100%;
    text-align: center;
}


main form .button {
    width: auto;
}

form h3 {
    margin: 0;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

form h3 > * {
    font-size: 13px;
    display: block;
    font-weight: 600;
}

form * {
    outline: none;
}

button, .button {
    background: #998a77;
    white-space: nowrap;
    color: #44332a;
    border: none;
    height: 36px;
    line-height: 36px;
    font: inherit;
    font-weight: 600;
    padding: 0 36px;
    cursor: pointer;
    border-radius: 999px;
    margin-top: 20px;
    transition: all .2s;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
}

button:hover, .button:hover {
    box-shadow: rgba(0, 0, 0, .25) 0 1px 5px;
    background: #aa937a;
    color: #30261a;
}

button:active, .button:active {
    box-shadow: rgba(0, 0, 0, .18) 0 0 3px;
    transform: translateY(1px);
}

label {
    display: block;
    color: inherit;
    margin-top: 10px;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

label > span {
    display: block;
    padding-bottom: 6px;
    font-size: 13px;
}

input[type=text], input[type=password], input[type=email], select {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    border: 1px transparent solid;
    background: rgba(0, 0, 0, .5);
    color: inherit;
    height: 36px;
    line-height: 36px;
    font: inherit;
    padding: 0 10px;
    margin-bottom: 6px;
    width: 100%;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=email]:disabled, select:disabled {
    color: #7c6a60;
    text-shadow: rgba(0, 0, 0, .15) 0 1px 1px;
}

input:focus {
    border: rgba(255, 255, 255, .26) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
}

#subscribe-event-list > label {
    user-select: none;
    cursor: pointer;
}

#subscribe-event-list > label > input {
    display: none;
}
#subscribe-event-list > label > * {
    vertical-align: middle;
}

#subscribe-event-list > label > span:before {
    content: ' ';
    display: inline-block;
    width: 16px;
    border-radius: 2px;
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    font-size: 16px;
    text-align: center;
    border: #689c16 2px solid;
    border-radius: 3px;
    content: '\2714';
    color: transparent;
    transition-timing-function: ease-out;
    transition-duration: .2s;
    transition-property: transform, background-color, border-color;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 7px;
}

#subscribe-event-list > label > span:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(50, 70, 10, .16);
    transform: translateY(-100%) scale(0);
    z-index: -1;
    transition-timing-function: ease-out;
    transition-duration: .2s;
    transition-property: filter, transform, opacity, text-shadow;
    opacity: 0;
}

#subscribe-event-list > label:active > span:after {
    opacity: 1;
    transform: translateY(-100%) scale(2);
    filter: blur(.5px);
}

#subscribe-event-list > label > input.waiting + span:after {
    opacity: 0.25;
    transform: translateY(-100%) scale(3);
    filter: blur(2px);
}

#subscribe-event-list > label > input:checked + span:before {
    background-color: #689c16;
    color: #fff;
}

#subscribe-event-list > label > input:checked + span:hover:before {
    background-color: #9dd632;
    border-color: #9dd632;
    text-shadow: rgba(0, 0, 0, .35) 0 1px 2px;
}

#subscribe-event-list > label > input + span:hover {
    color: #e5c19d;
}