<%- include('partials/header.html') %>
<main>
    <form>
        <input type="radio" name="subscription" value="1" id="subscribe-1">
        <label class="button" for="subscribe-1"><span>Notify me about coffee</span></label>
        <input type="radio" name="subscription" value="0" id="subscribe-0" checked>
        <label class="button" for="subscribe-0" title="Don't you love coffee?"><span>Stop the madness!</span></label>
    </form>
</main>

<% if (showConfig) { %>
<aside>
    <form spellcheck="false" autocomplete="off" id="cloud-config">
        <h3>
            Cloud configuration
        </h3>

        <label>
            <span>Domain:</span>
            <input type="text" id="cloud-config-domain" disabled value="<%= coffeeMaker.domain %>">
        </label>

        <label>
            <span>TP-Link Cloud email</span>
            <input type="text" id="cloud-config-email" value="<%= coffeeMaker.cloud.email %>">
        </label>

        <label>
            <span>TP-Link Cloud password <sup title="Your password will never be passed to our servers">?</sup></span>
            <input type="password" id="cloud-config-password">
        </label>

        <button type="button" id="cloud-config-list-devices">Find my coffee</button>

        <label>
            <span>TP-Link Cloud device <sup title="Please select the device your coffee maker is plugged into">?</sup></span>
            <select name="device" id="cloud-config-device" disabled>
            <% if (coffeeMaker.cloud.alias) { %>
                <option value=""><%- coffeeMaker.cloud.alias %></option>
            <% } else { %>
                <option value="">Please fill in the credentials</option>
            <% } %>
            </select>
        </label>

        <button type="button" id="cloud-config-save">Save the configuration</button>

    </form>
</aside>
<script src="./shared/tplink-cloud.js"></script>
<% } %>

<script>
document.querySelector('#subscribe-1').addEventListener('change', (e) => {
    app.notifications.subscribe();
});
document.querySelector('#subscribe-0').addEventListener('change', (e) => {
    app.notifications.unsubscribe();
});

var tp = new TpLink.Cloud;
var select = document.querySelector('#cloud-config-device');
var txtEmail = document.querySelector('#cloud-config-email');
var txtPassword = document.querySelector('#cloud-config-password');

document.querySelector("#cloud-config-list-devices").addEventListener('click', async (e) => {
    e.preventDefault();
    await tp.login(txtEmail.value, txtPassword.value);
    let devices = [];
    (await tp.getDeviceList()).forEach((device) => {
        // only HS110 supported as of now (no other models with eMeter exist)
        if (/^HS110/.test(device.deviceModel))
            devices.push(device);
    });

    while (select.firstChild)
        select.removeChild(select.firstChild);

    if (devices.length) {
        for (let i = 0; i < devices.length; i++) {
            select.appendChild(new Option(devices[i].alias, JSON.stringify(devices[i])));
        }
        select.disabled = false;
    } else {
        select.appendChild(new Option("No compatible devices found!", ""));
        select.disabled = true;
    }
});

document.querySelector("#cloud-config-save").addEventListener('click', async (e) => {
    if (select.value) {
        var device = JSON.parse(select.value);
        tp.deviceId = device.deviceId;
        tp.alias = device.alias;
        tp.appServerUrl = device.appServerUrl;
    }
    await window.app.post('/coffeemakers/', {
        cloud: tp
    });
});
</script>
<%- include('partials/footer.html') %>