<%- include('partials/header.html') %>
<main>
    <form id="notifications" disabled>
        <div>Ilmoita minulle heti, kun</div>
        <div id="subscribe-event-list">
            <label>
                <input type="checkbox" name="starting"><span>kahvia on tulossa</span>
            </label>
            <label>
                <input type="checkbox" name="finished"><span>kahvi on valmista</span>
            </label>
            <label>
                <input type="checkbox" name="power-off"><span>kahvinkeitin sammutetaan</span>
            </label>
        </div>
    </form>
</main>

<% if (showConfig) { %>
    <%- include('partials/config.html') %>
<% } %>

<%- include('partials/footer.html') %>